<!DOCTYPE html>
{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/home.css' %}">
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script src="{% static 'js/app.js' %}"></script>


</head>
<body>
<div class="container">
  <div class="statbar a"></div>
      <div class="navbar a">
          <a name="logout" id="btnlogout" href='/' >Logout</a>
          <a name="dailyprogress" id="dailyprog" href="">Daily Progress</a>
          <a name="idletime" href="/idleline/">Machine Idle Time</a>
          <a name="runtime" href="/runline/">Machine Run Time</a>
          <a name="settingtime" href="/settingline/">Machine Setting Time</a>
          <a name="home" href="#home" details open>Home</a>
          <a name="comp">SRI KRISH AUTOMATIONS</a>
      </div>
   </div>
 <h1>hello</h1>
</body>
</html>
