<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <title>SRI KRISH AUTOMATIONS</title>
</head>
<body>

<div class="hero-image" style="background-image: url('images/cnc1.png')">
  <div class="hero-text">
    <h1 style="font-size:50px">Smart CNC Monitor</h1>
    <p style="font-size:20px">Quality | Cost Effective | Accurate </p>
    <a href="/not/" target="_parent">
      <button class="button"><span>Login </span></button></a>
  </div>
</div>
</body>
</html>
